#Stupid .DS_Store fix
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Runtime data
pids
*.pid
*.seed

# Icont issue 
Icon?
