.main {
	background-color: #eaeaea;
	height: 140vh;
	background-size: cover;
}


h2 {
	text-align: center;
} 

h3 {
	margin-top: 0px;
	padding: 10px;
	margin-bottom: 0px;
	display: inline-block;
}

/*****************************
The Login 
*****************************/

.gridContainer {
	margin: 0 auto;
	width: 900px;
	background-color: blue;
}

.individualBox { /*30 of these for NBA. 20 for soccer */
	min-width: 148px;
	height: 148px;
	float: left;
	border: 1px solid black;
}

.individualBox img {
	width: 145px;
	height: 145px;
}

#toggleButtonDiv {
	margin: 0 auto;
	text-align: center;	
}

#theNBA {
	padding: 10px;
	margin-bottom: 20px;

}

#theEPL {
	padding: 10px;
	margin-bottom: 20px;

}

#theNBA:hover {
	background: #2980b9;
}

#theEPL:hover {
	background-color: #2980b9;
}

#theNBA:active {
	background: #2980b9;
}

#theEPL:active {
	background-color: #2c3e50;

}